node_modules
.DS_Store
dist
/build
/.svelte-kit
/package
.vscode/*
!.vscode/extensions.json
logg.todo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.psd
.env
.env.*
!.env.example
vite.config.ts.timestamp*

